<div class="container">
    <div class="product-grid">
      <mat-card 
        *ngFor="let product of products"
        class="product-card"
        (click)="viewProductDetails(product)"
      ><div class="prod-img" routerLink="/products/product-item" 
      [queryParams]="{productid:product._id, title:product.title, category:product.category, subCategory: product.subCategory, price: product.price, rate: product.ratings.rate, count: product.ratings.count, image: product.image}">
        <img [src]="product.image" alt="{{product.title}}" draggable="false" >
      </div>
      <div class="product-details" routerLink="/products/product-item" 
      [queryParams]="{productid:product._id, title:product.title, category:product.category, subCategory: product.subCategory, price: product.price, rate: product.ratings.rate, count: product.ratings.count, image: product.image}">
        <p >{{ product.title }}</p>
        <span> {{ product.ratings.rate }} <mat-icon>hotel_class</mat-icon></span>
        <p> ₹{{product.price}}</p>
      </div>
      </mat-card>
    </div>
    
    <div *ngIf="showViewAllButton" class="view-all-button">
      <button mat-raised-button color="primary" (click)="goToProductsPage()">View All</button>
    </div>
  </div>
  