.example-spacer {
    flex: 1 1 auto;
  }
  
.toolbar{
  background-color: #FAD16B;
  height: 7.5vh;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 3;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.4);
}
.link{
  cursor: pointer;
}

.white-color{
  color: #363939;
}

.mat-icon{
  color: #363939;
}
.tool-icon{
  font-size: x-large;
  // color: #2f3940;
}

.running-cart {
  animation: runBigShoppingCart 2s ease 1; /* Adjust duration as needed */
}

//full width
@keyframes runBigShoppingCart {
  0% {
    transform: translateX(0) scale(1);
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1); 
  }
  50% {
    transform: translateX(calc(78rem - 100%)) scale(2.4); 
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1); 
  }
  100% {
    transform: translateX(0) scale(1);
    position: relative;
  /* Adjust positioning as needed */
  top: 0;
  left: 0;
  }
}

//small width
@keyframes runSmallShoppingCart {
  0% {
    transform: translateX(0) scale(1);
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1); 
  }
  50% {
    transform: translateX(calc(8.8rem - 100%)) scale(2.4); 
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1); 
  }
  100% {
    transform: translateX(0) scale(1);
    position: relative;
  /* Adjust positioning as needed */
  top: 0;
  left: 0;
  }
}

.wishlist-count{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: medium;
  top: 0;
  width: 15px; 
  height: 15px;
  border-radius: 50%;
  background: floralwhite;
}

//Running all changes for modile width
@media all and (max-width: 430px) {
  .toolbar{
    background-color: #15a453;
    height: 7.5vh;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.4);
  }

  .running-cart{
    animation: runSmallShoppingCart 2s ease 1;
  }
}


/* Add this media query to hide Settings and Person buttons on small screens */
@media all and (max-width: 430px) {
  .toolbar .mat-menu-button {
    display: flex; /* Display the menu button */
  }
  .toolbar .mat-menu-item {
    display: block; /* Show menu items as block elements */
  }
  .toolbar .mat-menu-item .mat-icon {
    margin-right: 8px; /* Add spacing between icon and text */
  }
  .toolbar .example-icon.favorite-icon {
    display: none; /* Hide Settings and Person buttons */
  }
}

// Mat Menu styles
  .mat-menuu {
  width: 500px;
  height: 600px;
  // max-height: 300px;
}
