<div>

<p>
    <mat-toolbar class="toolbar mat-elevation-z2">
      <button mat-icon-button class="example-icon" (click)="toggleMenu()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="mr-2 sm:mr-2 md:mr-2 lg:mr-2 xl:mr-2 link white-color" routerLink="home" >DzuoKart</span>
       <mat-icon class="favorite-icon tool-icon running-cart">shopping_cart</mat-icon>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" >
        <mat-icon>settings</mat-icon>
      </button>

      <!-- Lazy rendereing using template -->
      <button mat-icon-button [matMenuTriggerFor]="appMenu" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu" class="mat-menuu">
        <ng-template matMenuContent>
          <button mat-menu-item routerLink="/authentication" routerLinkActive="">
            <mat-icon>person</mat-icon>
            <span>Login</span>
          </button>
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
        </ng-template>
      </mat-menu>
      
      
    </mat-toolbar>
  </p>
    
</div>