.example-spacer {
    flex: 1 1 auto;
  }
  
.toolbar{
  background-color: #edba12;
}
.link{
  cursor: pointer;
}

.tool-icon{
  font-size: x-large;
  // color: #2f3940;
}

.running-cart {
  animation: runShoppingCart 2s ease 1; /* Adjust duration as needed */
}


@keyframes runShoppingCart {
  0% {
    transform: translateX(0) scale(1);
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1); /* Custom easing for acceleration */
  }
  50% {
    transform: translateX(1240px) scale(2.4); /* Adjust the distance and scale as needed */
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1); /* Custom easing for deceleration */
  }
  100% {
    transform: translateX(0) scale(1);
    position: relative;
  /* Adjust positioning as needed */
  top: 0;
  left: 0;
  }
}



//Dust Smoke Effect ************************

// .smoke-effect {
//   position: absolute;
//   top: 5%; 
//   left: 150px;
//   transform: translate(-50%, -50%);
//   width: 100px;
//   height: 100px;
//   background: radial-gradient(circle, rgba(189, 109, 18, 0.7) 70%, transparent 30%);
//   border-radius: 50%;
//   animation: smokeRise 3s ease-in-out 1;
// }

// .smoke-effect::before,
// .smoke-effect::after {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 10%, transparent 70%);
//   border-radius: 50%;
//   animation: smokePulse 2s ease-in-out 1;
// }

// @keyframes smokeRise {
//   0% {
//     transform: translate(-50%, -50%) scale(0.2);
//     opacity: 0.5;
//   }
//   100% {
//     transform: translate(-50%, -200%) scale(1);
//     opacity: 0;
//   }
// }

// @keyframes smokePulse {
//   0% {
//     transform: scale(0.8);
//   }
//   50% {
//     transform: scale(2.2);
//   }
//   100% {
//     transform: scale(0.8);
//   }
// }