<div class="container" *ngIf="productData">
    <!-- <div class="row1">
        
    </div> -->
    <div class="row2">
        <div class="col1">
            <img [src]="productData.image">
        </div>
        <div class="col2">
            <p>{{ productData.title }}</p>
            <p *ngIf="productData.description; else prodDesc">{{ productData.description }}</p>
            <ng-template #prodDesc><p >Product Description</p> </ng-template>
            
            <div class="ratings-div"> 
                <span> {{ productData.ratings.rate }} <mat-icon>hotel_class</mat-icon></span>
                <p>{{productData.ratings.count}} Ratings</p>
            </div>
            <mat-divider></mat-divider>
            <div class="price">
                <p>₹ {{ productData.price.discounted}}</p>
                <p> MRP ₹{{productData.price.actual}}</p>
                <p>({{ discountPercent }}% OFF) </p>
            </div>
            
            <p> inclusive of all taxes</p>
            <div class="size-p" *ngIf="productData.category == 'clothes'">
                <p> SELECT SIZE</p>
                <span>SIZE CHART <mat-icon>add_chart</mat-icon></span>
            </div>
            <div  class="item-size" *ngIf="productData.category == 'clothes'">
                <mat-chip-listbox *ngFor="let itemsize of productData.size">
                   <mat-chip-option color="warn" (click)="selectedChip(itemsize)"> {{itemsize}} </mat-chip-option>
                </mat-chip-listbox>
            </div>
            <div class="deliver">
                <span>DELIVER TO <mat-icon>pin_drop</mat-icon></span> 
                <mat-form-field appearance="outline" [formGroup]="formData">
                    <!-- <mat-label class="label">Address</mat-label> -->
                    <input matInput formControlName="address" placeholder="Add Complete Address" (blur)="onAddressFilled()" >
                </mat-form-field>
                <div class="deliver-texts">
                    <div> <mat-icon>local_shipping</mat-icon> <span>Get it by {{shippingDate}} | </span> <span > Free Delivery</span> </div>
                    <div> <mat-icon>payments</mat-icon> <span matLine>Cash on Delivery Available</span> </div>
                    <div> <mat-icon>swap_horiz</mat-icon> <span>Easy 15 days Exchange & Return</span> </div>
                </div>
                  
            </div>
            <div class="buttons">
                <div>
                    
                    <button mat-raised-button class="btn-cart"> <mat-icon class="svg-icon" matListIcon svgIcon="{{'svg-shopping-bag'}}" ></mat-icon>ADD TO CART</button>
                </div>
                <div>
                    <button mat-raised-button class="btn-wishlist"> <mat-icon  matListIcon svgIcon="{{'svg-heart-line'}}" ></mat-icon> WISHLIST</button>
                </div>
            </div>
            <div class="offers">
                <span  matLine>AVAILABLE OFFERS <mat-icon class="offer-icon" matListIcon svgIcon="{{'svg-offer'}}"></mat-icon></span>
                <div *ngFor="let offer of productData.offers" class="offers-item">
                    <mat-icon matIcon>sell</mat-icon>
                    <span matLine>{{offer}}</span>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div>
                <span matLine>PRODUCT DETAILS <mat-icon class="offer-icon" matListIcon >subject</mat-icon></span>

            </div>
        </div>
        
    </div>
</div>

<!-- <div *ngIf="productData">
    {{productData.title}}
    {{productData.id}}
    {{productData.category}}
    <img [src]="productData.image">
</div> -->