<div class="container">
    <div class="card-class">
        <mat-card class="card">
            <div class="btn-div">
                <button mat-raised-button (click)="showLogin()" [class.selected-btn]="isLoginVisible">Login</button>
                <button mat-raised-button (click)="showSignUp()" [class.selected-btn]="isSignUpVisible">Signup</button>
            </div>
            <div class="card-col-1" *ngIf="isLoginVisible">
              <img src="assets\images\login\login-3.svg" alt="freelancer" draggable="false">
            </div>
            <div class="card-col-2" *ngIf="isLoginVisible">
                <div>
                    <p class="para">Login</p>
                </div>
                <div class="form-class">
                    <form [formGroup]="login" >
                        <mat-form-field appearance="fill" [hideRequiredMarker]="true">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                            <mat-icon matPrefix>person</mat-icon>
                          </mat-form-field>
                          <mat-form-field appearance="fill" [hideRequiredMarker]="true">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                            <mat-icon matPrefix>lock</mat-icon>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                          </mat-form-field>
                    </form>
                    <p class="forgot-pass">Forgot Password?</p>
                    <button (click)="submitForm()" class="login-btn" mat-raised-button color="primary">Login</button>
                   <!-- <button (click)="getToken()" mat-raised-button color="primary">Token</button> -->
                     <!-- <button (click)="logout()" mat-raised-button color="primary">Logout</button> -->
                </div>
                <div class="divider">
                    <mat-divider style="background-color: brown;"></mat-divider>
                    <button mat-raised-button (click)="loginGoogle()">
                        <mat-icon matPrefix svgIcon="google"></mat-icon>
                        <span>Login with Google</span>
                    </button>
                    <button mat-raised-button (click)="loginFacebook()"> 
                        <mat-icon matPrefix svgIcon="facebook"></mat-icon>
                        <span>Login with Facebook</span>
                    </button>
                    <p class="toggle-other" (click)="showSignUp()" [class.selected-btn]="isSignUpVisible">Need an Account? Signup</p>
                </div>
            </div>


            <div class="card-col-1" *ngIf="isSignUpVisible">
                <img src="assets\images\login\login-5.svg" alt="freelancer" draggable="false">
            </div>
            <div class="card-col-2" *ngIf="isSignUpVisible">
                <div>
                    <p class="para">Signup</p>
                </div>
                <div class="form-class">
                    <form [formGroup]="signup" >
                        <mat-form-field appearance="fill" [hideRequiredMarker]="true">
                            <mat-label>Fullname</mat-label>
                            <input matInput formControlName="fullname">
                            <mat-icon matPrefix>person</mat-icon>
                          </mat-form-field>
                        <mat-form-field appearance="fill" [hideRequiredMarker]="true">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                            <mat-icon matPrefix>email</mat-icon>
                          </mat-form-field>
                          <mat-form-field appearance="fill" [hideRequiredMarker]="true">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                            <mat-icon matPrefix>lock</mat-icon>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                          </mat-form-field>
                    </form>
                    <!-- <p class="forgot-pass">Forgot Password?</p> -->
                    <button (click)="signupForm()" class="login-btn" mat-raised-button color="primary">Signup</button>
                </div>
                <div class="divider">
                    <mat-divider style="background-color: brown;"></mat-divider>
                    <!-- <button mat-raised-button (click)="loginGoogle()"> 
                        <mat-icon matPrefix svgIcon="google"></mat-icon>
                        <span>Login with Google</span>
                    </button>
                    <button mat-raised-button (click)="loginFacebook()"> 
                        <mat-icon matPrefix svgIcon="facebook"></mat-icon>
                        <span>Login with Facebook</span>
                    </button> -->
                    <p class="toggle-other" (click)="showLogin()" [class.selected-btn]="isLoginVisible">Already have an Account? Login </p>
                </div>
            </div>
          </mat-card>
    </div>


    <!-- SVG hard positioned  -->
    <div class="login-svg">
        <img src="assets\images\login\freelancer.png" alt="freelancer" draggable="false">
    </div>
    <div class="login-svg-2">
        <img src="assets\images\work\work-4.png" alt="freelancer" draggable="false">
    </div>
</div>