<div class="container">
    <div class="card-class">
        <mat-card class="card">
            <div class="btn-div">
                <button mat-raised-button (click)="showLogin()">Login</button>
                <button mat-raised-button (click)="showSignUp()">Signup</button>
            </div>
            <div class="card-col-1">
              <img src="assets\images\login\login-1.png" alt="freelancer" draggable="false">
            </div>
            <div class="card-col-2">
              <div *ngIf="isLoginVisible">
                This is Login
              </div>
              <div *ngIf="isSignUpVisible">
                This is Signup
              </div>
            </div>
          </mat-card>
    </div>


    <!-- SVG hard positioned  -->
    <div class="login-svg">
        <img src="assets\images\login\freelancer.png" alt="freelancer" draggable="false">
    </div>
    <div class="login-svg-2">
        <img src="assets\images\work\work-4.png" alt="freelancer" draggable="false">
    </div>
</div>