
.container{
   display: flex;
   justify-content: center;
    align-items: flex-start;
//    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 2.8rem;
    height: 92.5vh;
    background-color: honeydew;
    // background: linear-gradient(to bottom, #2E108E, #3197D6);
}

.card-class{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 77vh;
    width: 50vw;
    border-radius: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: honeydew; /*replace this same color for card-col-2 bg color */
    // transition: all 0.3s ease; 
}
.btn-div{
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 2rem;
    margin-left: 0.6rem;
    border: 3px solid honeydew;
    background-color: #B3C2F2;
    padding: 0.2rem;
    border-radius: 50px;
}

.btn-div button {
    border-radius: 50px;
}

.selected-btn {
    background-color: #36382E;
    color: white;
  }

.card-col-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    // border: 15px solid dodgerblue;
    border-radius: 15px 40px 40px 15px; /* 1st 15px and last is same because above in card i have given 15px */
    background-color: #B3C2F2;
}
.card-col-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5rem;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 3rem;
    border-radius: 15px 15px 15px 15px;
    background-color: honeydew;
}



// .card:hover {
//     transform: scale(1.005);
//     transition: all 0.3s ease; 
//   }

// .child-cont{
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     width: 100%;
// }


.login-svg{
    position: absolute;
    opacity: 100%;
    width: 15%;
    margin: 0;
    padding: 0;
    right: 0;
    bottom: 0;
}

.login-svg-2{
    position: absolute;
    opacity: 100%;
    width: 22%;
    margin: 1rem;
    padding: 0;
    left: 0;
    bottom: 0;
}

.para{
    font-size: xx-large;
    font-weight: bold;
    font-family: cursive;
}

.form-class {
    display: flex;
    flex-direction: column;
    width: 90%;
    // background-color: red;
  }
  
  .form-class form {
    flex: 1; /* This makes the form expand to fill available vertical space */
  }
  
  /* Apply width: 100% to input and mat-icon to make them take up the full width */
  .form-class mat-form-field {
    width: 100%;
  }
  
  .form-class input,
  .form-class mat-icon {
    width: 100%;
  }
  

  .login-btn{
    margin-top: 0.5rem;
    font-family: cursive;
    font-size: large;
    font-weight: bold;
  }

  .forgot-pass{
    display: flex;
    justify-content: flex-end;
  }

  .forgot-pass:hover{
    cursor: pointer;
    color: dodgerblue;
  }

  .divider{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.5rem;
    // background-color: red;

  }