
.carousel-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: pink;
    // width: 95%;
}
.grid-list{
    height: 100%;
    width: 100%;
    padding: 0.2rem;
}
.carousel-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    // background-color: red;
}

mat-grid-tile {
    background: lightblue;
  }

  .row-1{
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 5px;
    // margin-top: 5px;
    // margin-bottom: 5px;
    height: 90.7%;
    width: 99.10%;
    margin-right: 0.3rem;
    border-style: solid double;
    background-color: rgb(154, 73, 170);
  }

  .row-2{
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 5px;
    // margin-top: 5px;
    // margin-bottom: 5px;
    height: 90.7%;
    width: 99.10%;
    margin-right: 0.3rem;
    border-style: solid double;
    background-color: rgb(231, 163, 128);
  }