<div>
    <div class="carousel-div">
      <mat-grid-list cols="4" rowHeight="7rem" class="grid-list">
        <mat-grid-tile colspan="3" rowspan="1" style="background-color: #e256c4;">1</mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2" style="background-color: rgb(157, 65, 203);">2</mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" style="background-color: #d77281;">3</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" style="background-color: blueviolet;">4</mat-grid-tile>
      </mat-grid-list>
      
    </div>
  </div>