<div>
    <div class="carousel-div">
      <mat-grid-list cols="4" rowHeight="7rem" class="grid-list">
        <mat-grid-tile colspan="3" rowspan="1" style="background-color: #e256c4;">
          <div class="row-1">
            col 1
          </div>
          <div class="row-1">
            col 2
          </div>
          <div class="row-1">
            col 3
          </div>
          <div class="row-1">
            col 4
          </div>
          <div class="row-1">
            col 5
          </div>
          <div class="row-1">
            col 6
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2" style="background-color: rgb(157, 65, 203);">
          <div class="col-2">
            <img src="assets\images\shop\shop-2.png">
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" style="background-color: #d77281;">
          <div class="row-2">
            row 2 col 1
          </div>
          <div class="row-2">
            row 2 col 1
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" >
         <div class="col2-row2"> <img src="assets\images\laptops\laptop-2.png" >
            <div class="cover">
              <h3>Laptops</h3>
            </div>
        </div> 
         <div class="col2-row2"> <img src="assets\images\mobiles\mobile-3.png" > 
          <div class="cover">
            <h3>Mobiles</h3>
          </div>
        </div> 
         <div class="col2-row2"> <img src="assets\images\tv\tv-9.png" >
          <div class="cover">
            <h3>TV's</h3>
          </div>
        </div> 
         <div class="col2-row2"> <img src="assets\images\shop\shop-5.png" > </div> 
         <div class="col2-row2"> <img src="assets\images\shop\shop-1.png" > </div> 
         <div class="col2-row2"> <img src="assets\images\delivery\delivery-1.png" > </div> 
         <div class="col2-row2"> <img src="assets\images\delivery\delivery-2.png" > </div> 
        </mat-grid-tile>
      </mat-grid-list>
      
    </div>
  </div>