<div class="app-nav-container" [ngClass]="{'app-nav-open': navOpen}">
    <mat-sidenav-container [hasBackdrop]="false">
        <mat-sidenav #sidenav mode="over" [class.mat-elevation-z4]="true" class="app-sidenav"
            (openedStart)="handleSideNavOpenStart()" (openedChange)="handleSideNavStateChange($event)">
            <mat-nav-list>
                <div class="dropdown">
                    <mat-list-item>
                        <section>abc</section>>
                    </mat-list-item>
                </div>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>