.app-nav-container{
    position: fixed;
    height: calc(100% - 55px);
    margin: 0;
    left: 0;
    top: 60px;

    mat-sidenav-container{
        height: 100%;
    }
}

.app-nav-container.app-nav-open{
    width: 270px;
    z-index: 3;
}


.app-sidenav{
    background-color: rgb(246, 245, 245);
    width: 270px;
    z-index: 3;
    
}
.app-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

//Running all changes for modile width
@media all and (max-width: 430px) {
    .app-nav-container.app-nav-open{
        width: 60%;
        z-index: 3;
    }
  }
  